/* navigation*/

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background: #031825;
    color: #fff;
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url(Captured\ photo\ \(1\).jfif);
    background-size: contain;
    background-position: center;
}
.container{
    padding: 10px 10%;
}
 
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    width: 500px !important;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #5199eb;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
    justify-content: space-between;
}
.about { 
    background-image: url("lightrainbowbg.png");
    background-size: cover;
}
.header-text{
    margin-top: 20%;
    font-size: 30px;
    margin-bottom: 15%;
    color: rgb(0, 0, 0);
}
.header-text h1{
    font-size: 60px;
    margin-top: 20px;
    color: white;
}

/* background of home page*/

.centered-text {
    text-align: center;
}

footer p {
    text-align: center;
}

.column {
    float:left;
    width:33.33%;
}
.row::after {
    content: "";
    display: table;
    clear: both;
  }

  .nav-column {
    float:left;
    width:33.33%;
}

.left, .right {
    width:25%;
    padding:20px;
}

.middle {
    width:50%;
}
/*-------about-------*/
#about{
    padding: 80px 0;
    color: #080808;
}
.row1{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}
.about-col-2{
    flex-basis: 60%;
}

.card {
    box-shadow: 0 4px 8px 0 #ffffff;
    transition: 0.3s;
    margin: 10px;
    background-color: #6ddada;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 blue;
  }
  
  .box {
    padding: 2px 16px;
    color: black;
  }

  .event-column {
    width:33.33%;
    float:left;
}

.grid {
    display: grid;
    gap: 6em;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
}

.background-header {
    width: 100%;
    height: 80%;
    background-image: url(logo.jpg);
    background-position: center;
}

.form-text{
    padding:7px 0;
}

.w3-animate-right
{position:relative;animation:animateright 0.8s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
.image-container {
    position: relative;
    display: inline-block;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(2, 2, 2, 0.5); /* Adjust opacity as needed */
    color: #ffffff;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .image-container:hover .overlay {
    opacity: 1;
  }
  