/* navigation*/

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background: #031825;
    color: #fff;
}

#header{
    width: 100%;
    height: 100vh;
    background-image: url(Captured\ photo\ \(1\).jfif);
    background-size: contain;
    background-position: center;
}
.container{
    padding: 10px 10%;
}
 
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    width: 500px !important;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #5199eb;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
    justify-content: space-between;
}
.about { 
    background-image: url("lightrainbowbg.png");
    background-size: cover;
}
.header-text{
    margin-top: 20%;
    font-size: 30px;
    margin-bottom: 15%;
    color: rgb(0, 0, 0);
}
.header-text h1{
    font-size: 60px;
    margin-top: 20px;
    color: white;
}

/* background of home page*/

.centered-text {
    text-align: center;
}

.column {
    float:left;
    width:33.33%;
}
.row::after {
    content: "";
    display: table;
    clear: both;
  }

  .nav-column {
    float:left;
    width:33.33%;
}

.left, .right {
    width:25%;
    padding:20px;
}

.middle {
    width:50%;
}
/*-------about-------*/
#about{
    padding: 80px 0;
    color: #080808;
}
.row1{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}
.about-col-2{
    flex-basis: 60%;
}

.card {
    box-shadow: 0 4px 8px 0 #ffffff;
    transition: 0.3s;
    margin: 10px;
    background-color: #6ddada;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 blue;
  }
  
  .box {
    padding: 2px 16px;
    color: black;
  }

  .event-column {
    width:33.33%;
    float:left;
}

.grid {
    display: grid;
    gap: 6em;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
}

.background-header {
    width: 100%;
    height: 80%;
    background-image: url(logo.jpg);
    background-position: center;
}

.form-text{
    padding:7px 0;
    color:black;
}

.w3-animate-right
{position:relative;animation:animateright 0.8s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}


.image-container {
    position: relative;
    display: inline-block;
  }

.abt-image-container {
    position: relative;
    width:33vw;
    margin-left: auto;
    margin-right: auto;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(2, 2, 2, 0.5); /* Adjust opacity as needed */
    color: #ffffff;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s;
  }
  .overlay a{
    text-decoration: none;
    color: white;
    text-align: center;
  }
  
  .image-container:hover .overlay {
    opacity: 1;
  }
  
  .d-flex > * {
    margin-right: 50px; /* Adjust the margin value as needed */
  }
  
  .form {
    max-width: 300px; /* Decrease the max-width to your desired value */
    width: 100%;
    margin-right: auto;
  }
  
  .form-input {
    display: flex;
    align-items: center;
    height: 36px;
    padding: 0px;
    color: #080808;
  }
  
  .form-input input {
    flex-grow: 1;
    padding: 0 16px;
    height: 100%;
    border: 1px;
    background-color: #fff;
    border-radius: 36px 0 0 36px;
    outline: none;
    width: 100%;
    color: var(--dark);
  }
  
  .form-input button {
    width: 36px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--blue);
    color: #ffffff;
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 0 50px 50px 0;
    cursor: pointer;
  }
  footer {
    background-color:#031825;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    width: 100%;
    position: fixed; /* Stick the footer to the bottom */
    bottom: 0;
    z-index: 100; /* Optional: Adjust the stacking order if needed */
}

#about-us { 
    background-image: url("aboutbg.png");
    background-size: cover;
    color: #031825;
    padding-top: 4rem;
    padding-bottom: 4rem;
    padding-left: 7rem;
    padding-right: 7rem;
}

.about-image {
    border-radius: 100%;
}

  .flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;  /*Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    /*position:absolute;*/
    width: 300px;
    height:300px;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  
  /* Style the back side */
  .flip-card-back {
    position: absolute;
    top: 0;
    background-color: #127db4;
    color: white;
    border-radius: 100%;
    transform: rotateY(180deg);
  }
  
 .vertical-center {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.egrid {
  display: grid;
  gap: 6em;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 1fr;
}
.ecards {
  box-shadow: 0 4px 8px 0 #ffffff;
  transition: 0.3s;
  margin: 10px;
  background-color: #00a2d4;
}


.image-container:hover .eoverlay {
  opacity: 1;
}

.eoverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(2, 2, 2, 0.5); /* Adjust opacity as needed */
  color: #ffffff;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s;
}
.events { 
  background-image: url("bc1.png");
  background-size: cover;
}

#sign {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Adjust as needed */
    text-align: center;
    background-color:white;
    margin-top: 10px;
    color: #0074d9;
  }

  /* Optional: Style the input fields and buttons */
  input[type="text"],
  input[type="password"],
  input[type="button"] {
    width: 20%;
    padding: 10px 0;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  input[type="button"] {
    background-color: blue;
    color: white;
    cursor: pointer;
    border: none;
  }

  a {
    text-decoration: none;
    color: black;
    margin-right: 10px;
  }
  .single-line {
            white-space: nowrap;
  }/*
  input:required {
    border-style: solid;
    border-color: red;
  }*/
  input[type="text"],
input[type="password"] {
    width: 20%; /* Full width */
    padding: 10px 0; /* Some padding */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 5px; /* Rounded borders */
}

/* Style the submit button */
button[type="submit"] {
    background-color: blue; /* Blue background color */
    color: white; /* White text color */
    padding: 10px 20px; /* Padding for the button */
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Show pointer cursor on hover */
}

/* Remove the default blue outline when input fields are focused */
input:focus {
    outline: none;
}

.Ggrid {
  display: grid;
  gap: 4em;
  grid-template-columns: repeat(2, 1fr);
}

.Groups { 
  background-image: url("6.png");
  background-size: cover;
  padding-bottom: 100px;
  color: #080808;
}

.search-btn{
  color: #ffffff;
}
/* FLEXBOX CODE*/

/* .flex-container {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
}

@media (max-width: 800px) {
  .flex-container {
    max-width: 100%;
  }
}

.flex-item {
  flex:33.33%;
  max-width: 33.33%;
  /* max-height: 25vh;} */



.flex-container-2items {
  display:flex;
  flex-direction: row;
}

@media (max-width: 800px) {
  .flex-container-2items {
    max-width: 100%;
    flex-direction: column;
  }
}

.flex-item-2items {
  flex:50%;
  max-width: 50%;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.flex-container-3items {
  display:flex;
  flex-direction: row;
}

@media (max-width: 800px) {
  .flex-container-3items {
    max-width: 100%;
    flex-direction: column;
  }
  }


.flex-item-3items {
  flex:33.33%;
  max-width: 33.33%;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.vertical-center {
  padding-top: 100px;
  padding-bottom: 100px;
}